h1 {
  font-size: 50px;
  color: red;
}

h2 {
  font-size: 40px;
  color: brown;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  font-size: 20px;
}

a {
  font-style: italic;
  text-decoration: none;
}

img {
  width: 20%;
}
